<div class="list-group">
 <ul class="list-unstyled">
    <li><a href="#" class="list-group-item">PHP</a></li>
    <li><a href="#" class="list-group-item">MySQL</a></li>
    <li><a href="#" class="list-group-item">C++</a></li>
    <li><a href="#" class="list-group-item">Java</a></li>
 </ul>
</div>