<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/goForth.jpg" class="img-responsive" alt="">
      <div class="post-content">
        <h3>Lorem Ipsum Rocks</h3>
        <small>Posted by Mherion on November 14, 2016</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quis earum ut, ad magni. Ipsum vel sint dolorem, earum incidunt in amet libero ipsa officiis, voluptas, asperiores autem deserunt a. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum magnam perspiciatis saepe debitis esse aut ipsa deleniti non libero, animi iusto, culpa cum autem. Reiciendis accusamus recusandae sit, qui?</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/goForth.jpg" class="img-responsive" alt="">
      <div class="post-content">
        <h3>Lorem Ipsum Rocks</h3>
        <small>Posted by Mherion on November 14, 2016</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quis earum ut, ad magni. Ipsum vel sint dolorem, earum incidunt in amet libero ipsa officiis, voluptas, asperiores autem deserunt a. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum magnam perspiciatis saepe debitis esse aut ipsa deleniti non libero, animi iusto, culpa cum autem. Reiciendis accusamus recusandae sit, qui?</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/goForth.jpg" class="img-responsive" alt="">
      <div class="post-content">
        <h3>Lorem Ipsum Rocks</h3>
        <small>Posted by Mherion on November 14, 2016</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quis earum ut, ad magni. Ipsum vel sint dolorem, earum incidunt in amet libero ipsa officiis, voluptas, asperiores autem deserunt a. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum magnam perspiciatis saepe debitis esse aut ipsa deleniti non libero, animi iusto, culpa cum autem. Reiciendis accusamus recusandae sit, qui?</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/goForth.jpg" class="img-responsive" alt="">
      <div class="post-content">
        <h3>Lorem Ipsum Rocks</h3>
        <small>Posted by Mherion on November 14, 2016</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quis earum ut, ad magni. Ipsum vel sint dolorem, earum incidunt in amet libero ipsa officiis, voluptas, asperiores autem deserunt a. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum magnam perspiciatis saepe debitis esse aut ipsa deleniti non libero, animi iusto, culpa cum autem. Reiciendis accusamus recusandae sit, qui?</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
